
// 
// breadcrumb.scss
//

// Breadcrumb item arrow
.breadcrumb-item {
    > a {
        color: $gray-700;
    }
    +.breadcrumb-item {
        &::before {
            font-family: "Material Design Icons";
        }
    }
}

// RTL

[dir="rtl"] {
    .breadcrumb-item {
        +.breadcrumb-item {
            padding-right: $breadcrumb-item-padding-x;

            &::before {
            font-family: "Material Design Icons";
            padding-left: 0;
                content: "\F0141";
            }
        }
    }
}

body[data-theme="dark"] {
    .breadcrumb {
        background-color: #1f1f1f !important; 
        border: 1px solid #444444;
    }
    
    .breadcrumb-text{
        color: $dark-table-td-color;
    }
}