// 
// authentication.scss
//
.bg-pattern {
    background: linear-gradient(135deg, #0bb197 0%, #5664d2 55%, #564ab1 100%);
    background-size: cover;
    background-position: center;
}

.auth-logo {
    &.logo-light {
        display: $display-none !important;
    }

    &.logo-dark {
        display: $display-block !important;
    }
}