.player-market-card{
    // color: ;
    // width: 30%;
    height: 96px;
    display: flex;
    overflow-x: auto;
}
.first-col{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.second-col{
    width: 100%;
    display: flex;
    // flex-direction: column;
    gap: 2px;
}
.second-col-first-div{
    // position: relative;
    display: flex;
    background-color: $light-score-card-bg !important;
    border-radius: 4px;
    // box-shadow:
    //     1px 1px 3px 0px #B2B2B2E5,
    //     -1px -1px 2px 0px #FFFFFFE5,
    //     1px -1px 2px 0px #B2B2B233,
    //     -1px 1px 2px 0px #B2B2B233,
    //     -1px -1px 2px 0px #B2B2B280 inset,
    //     1px 1px 2px 0px #FFFFFF4D inset;
}
.second-col-second-div{
    background-color: $light-score-card-bg !important;
    border-radius: 4px;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // box-shadow:
    //     1px 1px 3px 0px #B2B2B2E5,
    //     -1px -1px 2px 0px #FFFFFFE5,
    //     1px -1px 2px 0px #B2B2B233,
    //     -1px 1px 2px 0px #B2B2B233,
    //     -1px -1px 2px 0px #B2B2B280 inset,
    //     1px 1px 2px 0px #FFFFFF4D inset;
}
.button-a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8b3a3a;
    background-color: #f2e8e8;
    // color: #EA2E2E;
    // background-color: #d7d7d7;
    border-radius: 4px;
    // box-shadow:
    // 1px 1px 3px 0px #B2B2B2E5,
    // -1px -1px 2px 0px #FFFFFFE5,
    // 1px -1px 2px 0px #B2B2B233,
    // -1px 1px 2px 0px #B2B2B233,
    // -3px -3px 2px 0px #ABABAB80 inset,
    // 3px 3px 2px 0px #FFFFFF4D inset;
    &:hover {
        background-color: #e5c0c0; // darker red on hover
        // box-shadow:
        //   1px 1px 5px 0px #8a8a8a,
        //   -1px -1px 4px 0px #ffffffcc,
        //   inset 3px 3px 4px #ffffff4d,
        //   inset -3px -3px 4px #ababab80;
        cursor: pointer;
    }
}
.button-b{
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: #d7d7d7;
    // color: #00DB00;
    background-color: #e8efe8;
    color: #336633;
    border-radius: 4px;
    // box-shadow:
    //     1px 1px 3px 0px #B2B2B2E5,
    //     -1px -1px 2px 0px #FFFFFFE5,
    //     1px -1px 2px 0px #B2B2B233,
    //     -1px 1px 2px 0px #B2B2B233,
    //     -3px -3px 2px 0px #ABABAB80 inset,
    //     3px 3px 2px 0px #FFFFFF4D inset;
    &:hover {
        background-color: #c4e3c4; // slightly darker green
        // box-shadow:
        //     1px 1px 5px 0px #8a8a8a,
        //     -1px -1px 4px 0px #ffffffcc,
        //     inset 3px 3px 4px #ffffff4d,
        //     inset -3px -3px 4px #ababab80;
        cursor: pointer;
    }
}
.second-col-line{
    position: relative;
    color: #3A1290;
    display: flex;
    justify-content: center;
    align-items: end;
}
.second-col-back{
    color: #3385FF;
}
.second-col-lay{
    color: #F20000;
}
.second-col-buttons{
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.arrow-buttons{
    // background-color:  !important;
    border: 1px solid #E6E6E6;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin: 2px 1px;
    // padding: 4px;
    width: 100%;
    // height: 30px;
    // box-shadow:
    //     1px 1px 3px 0px #B2B2B2E5,
    //     -1px -1px 2px 0px #FFFFFFE5,
    //     1px -1px 2px 0px #B2B2B233,
    //     -1px 1px 2px 0px #B2B2B233,
    //     -3px -3px 2px 0px #ABABAB80 inset,
    //     3px 3px 2px 0px #FFFFFF4D inset;
    &:hover {
        cursor: pointer;
    }
}
.up-arrow{
    font-size: 10px !important;
    color: #035a03 !important;
}
.down-arrow{
    font-size: 10px !important;
    color: #F40707 !important;
}

.third-col{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #336633;
    background-color: #e8efe8;
    // color: #00DB00;
    // background-color: #d7d7d7;
    border-radius: 4px;
    // box-shadow:
    //     1px 1px 3px 0px #B2B2B2E5,
    //     -1px -1px 2px 0px #FFFFFFE5,
    //     1px -1px 2px 0px #B2B2B233,
    //     -1px 1px 2px 0px #B2B2B233,
    //     -3px -3px 2px 0px #ABABAB80 inset,
    //     3px 3px 2px 0px #FFFFFF4D inset;
    &:hover {
        background-color: #c4e3c4;
        cursor: pointer;
    }
}
.fourth-col{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.rate-dif-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E6E6E6;
    // box-shadow:
    //     1px 1px 3px 0px #B2B2B2E5,
    //     -1px -1px 2px 0px #FFFFFFE5,
    //     1px -1px 2px 0px #B2B2B233,
    //     -1px 1px 2px 0px #B2B2B233,
    //     -1px -1px 2px 0px #B2B2B280 inset,
    //     1px 1px 2px 0px #FFFFFF4D inset;
    border: none;
    height: 32px; /* Optional: set your desired height */
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
    outline: none;
}
.line {
    all: unset;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
  
    font-size: 28px;
    line-height: 1.2;
    width: 100%; // optional
    // text-align: center; // optional
    text-align: center; 
  
    /* optional: remove spinner buttons in some browsers */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  
  .laySize {
    all: unset;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
    font-size: 16px;         // optional
    line-height: 1.2;        // optional
    text-align: center;      // optional
    appearance: none;        // just in case it's an input
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: center; 
  }
  .absolute-input{
    all: unset;
    position: absolute;
    width: 50px;
    height: 16px;
    appearance: none;        // just in case it's an input
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
.backSize {
    all: unset;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
  
    font-size: 16px;         // optional
    line-height: 1.2;        // optional
    text-align: center;      // optional
    appearance: none;        // just in case it's an input
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  @media (max-width: 992px) { // Bootstrap's large screen breakpoint
    .player-market-row{
        overflow-x: auto;
    }
  }
  @media (min-width: 992px) { // Bootstrap's large screen breakpoint
    .flex-33 {
      flex: 0 0 33.33%;
      min-width: 33.33%;
    }
  }
  .player-market{
    // background-color: $light-body-bg !important;
  }
  .status-dropdown{
    all: unset;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E6E6E6;
    border: none;
    height: 32px; /* Optional: set your desired height */
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
    outline: none;
    &:hover {
        cursor: pointer;
    }
  }
  

body[data-theme="dark"]{
    .player-market-card{
        // background-color: $dark-body-bg !important;
        color: $dark-font-color !important;
    }
}