.score-num-btn {
  background-color: "#2c2c3e" !important;
  color: "#fff" !important;
  border-radius: "50px" !important;
  box-shadow: "0 4px 10px rgba(0, 0, 0, 0.3)" !important;
  width: "100%" !important;
  height: "100%" !important;
  font-size: "20px" !important;
  font-weight: "bold" !important;
}

.cricket-score {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;

  .team {
    width: 45%;

    .team-name {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .player {
      display: flex;
      justify-content: space-between;
      padding: 5px 0;
      border-bottom: 1px solid #ddd;

      .player-name {
        font-weight: bold;
      }

      .player-stats {
        color: #555;
      }
    }
  }
}

.control-card {
  padding: 1rem !important;
  background-color: $light-boxed-body-bg !important;
  color: $light-font-color !important
}

.card-title {
  color: $light-font-color !important
}

.button-icon {
  color: #ddd !important;
  height: 16px !important;
}

.button-icon-lg {
  color: #ddd !important;
  height: 40px !important;
}

body[data-theme="dark"] {
  .control-card {
    padding: 1rem !important;
    background-color: $header-dark-bg !important;
    color: $dark-font-color !important
  }

  .card-title {
    color: $dark-font-color !important
  }
}

.score-header-event-name {
  font-size: 14px;
  color: #333333;
}

.score-header-date-btn {
  // width: 168px;
  // height: 48px;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  // gap: 10px;
  background: #F5F5F5;

  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.score-header-navigation-btns {
  color: #00B400 !important;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F5F5F5;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow:
    1px 1px 3px 0px #B2B2B2E5,
    -1px -1px 2px 0px #FFFFFFE5,
    1px -1px 2px 0px #B2B2B233,
    -1px 1px 2px 0px #B2B2B233,
    -1px -1px 2px 0px #B2B2B280 inset,
    1px 1px 2px 0px #FFFFFF4D inset;
}

.score-header-navigation-btns:hover {
  background: #E0E0E0;
  /* Lighter background on hover */
}

.score-header-exit-btn {
  color: #fff !important;
  background-color: #E51717 !important;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F5F5F5;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow:
    1px 1px 3px 0px #B2B2B2E5,
    -1px -1px 2px 0px #FFFFFFE5,
    1px -1px 2px 0px #B2B2B233,
    -1px 1px 2px 0px #B2B2B233,
    -1px -1px 2px 0px #B2B2B280 inset,
    1px 1px 2px 0px #FFFFFF4D inset;
}

.score-control-ball-btn {
  width: 100%;
  height: 100%;
  color: black !important;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F5F5F5;
  border: none;
  font-weight: bold;
  font-size: 36px;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow:
    1px 1px 3px 0px #B2B2B2E5,
    -1px -1px 2px 0px #FFFFFFE5,
    1px -1px 2px 0px #B2B2B233,
    -1px 1px 2px 0px #B2B2B233,
    -1px -1px 2px 0px #B2B2B280 inset,
    1px 1px 2px 0px #FFFFFF4D inset;
}

.score-control-ball-types-btns {
  width: 100%;
  height: 100%;
  // color: linear-gradient(180deg, #FFCD4C -60.91%, #0000001F 221.1%) !important;
  color: #FFCD4C !important;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F5F5F5;
  border: none;
  font-weight: bold;
  font-size: 22px;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  // text-shadow: 
  //       0.66px 2.64px 2.64px #0000001F,
  //       0px 2.64px 2.64px #00000040; 
  box-shadow:
    1px 1px 3px 0px #B2B2B2E5,
    -1px -1px 2px 0px #FFFFFFE5,
    1px -1px 2px 0px #B2B2B233,
    -1px 1px 2px 0px #B2B2B233,
    -1px -1px 2px 0px #B2B2B280 inset,
    1px 1px 2px 0px #FFFFFF4D inset;

    &:hover,
    &:active,
    &.active {
    background-color: #FFCD4C;
    color: #1A1D23 !important;
    box-shadow: 0px 3.57px 3.57px 0px #0000001F inset, 
            0px 3.57px 3.57px 0px #00000040 inset;
  }
}

.score-control-action-ball-btns {
  width: 100%;
  height: 100%;
  color: #00B400 !important;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F5F5F5;
  border: none;
  font-weight: bold;
  font-size: 22px;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow:
    1px 1px 3px 0px #B2B2B2E5,
    -1px -1px 2px 0px #FFFFFFE5,
    1px -1px 2px 0px #B2B2B233,
    -1px 1px 2px 0px #B2B2B233,
    -1px -1px 2px 0px #B2B2B280 inset,
    1px 1px 2px 0px #FFFFFF4D inset;
}

.score-control-action-btns {
  width: 100%;
  height: 100%;
  color: #00B400 !important;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F5F5F5;
  border: none;
  font-weight: 500;
  font-size: 22px;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow:
    1px 1px 3px 0px #B2B2B2E5,
    -1px -1px 2px 0px #FFFFFFE5,
    1px -1px 2px 0px #B2B2B233,
    -1px 1px 2px 0px #B2B2B233,
    -1px -1px 2px 0px #B2B2B280 inset,
    1px 1px 2px 0px #FFFFFF4D inset;
}
.player-names {
  width: 100%;
  height: 100%;
  color: #333333 !important;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  background: #F5F5F5;
  border: none;
  // font-weight: 500;
  font-size: 20px;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow:
    1px 1px 3px 0px #B2B2B2E5,
    -1px -1px 2px 0px #FFFFFFE5,
    1px -1px 2px 0px #B2B2B233,
    -1px 1px 2px 0px #B2B2B233,
    -1px -1px 2px 0px #B2B2B280 inset,
    1px 1px 2px 0px #FFFFFF4D inset;
}

.score-control-close-btn {
  width: 100%;
  height: 100%;
  color: #000000 !important;
  padding: 8px 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F5F5F5;
  border: none;
  font-size: 22px;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow:
    1px 1px 3px 0px #B2B2B2E5,
    -1px -1px 2px 0px #FFFFFFE5,
    1px -1px 2px 0px #B2B2B233,
    -1px 1px 2px 0px #B2B2B233,
    -1px -1px 2px 0px #B2B2B280 inset,
    1px 1px 2px 0px #FFFFFF4D inset;
}

.score-control-wicket-ball-btns {
  width: 100%;
  height: 100%;
  color: #FF4C4C !important;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F5F5F5;
  border: none;
  font-weight: bold;
  font-size: 22px;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow:
    1px 1px 3px 0px #B2B2B2E5,
    -1px -1px 2px 0px #FFFFFFE5,
    1px -1px 2px 0px #B2B2B233,
    -1px 1px 2px 0px #B2B2B233,
    -1px -1px 2px 0px #B2B2B280 inset,
    1px 1px 2px 0px #FFFFFF4D inset;

  &:hover,
  &:active,
  &.active {
    background-color: #FF4C4C;
    color: white !important;
    box-shadow:
      0.89px 3.57px 3.57px 0px #B2B2B280 inset,
      0px 3.57px 3.57px 0px #FFFFFF4D inset;
  }
}

.score-right-side-header {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  padding: 12px;
  color: white;
  background: linear-gradient(180deg, #3E119E -60.91%, #35127D 221.1%);
  box-shadow:
    0px 1px 5px 0px #180C40,
    0px 5.72px 5.72px 0px #574CD2 inset,
    0px -5.72px 5.72px 0px #281694 inset;
}

.vertical-line {
  border: 0.5px solid #F5F5F5;
  /* Black border */
  height: 250px;
  margin: 0px 10px;
  box-shadow:
    1px 1px 3px 0px #B2B2B2E5,
    -1px -1px 2px 0px #FFFFFFE5,
    1px -1px 2px 0px #B2B2B233,
    -1px 1px 2px 0px #B2B2B233,
    -1px -1px 2px 0px #B2B2B280 inset,
    1px 1px 2px 0px #FFFFFF4D inset;
}

.regular-overball {
  min-width: 30px;
  font-weight: 500;
  min-height: 30px;
  background: #E6E6E6;
  border-radius: 4px;
  box-shadow:
    1px 1px 3px 0px #B2B2B2E5,
    /* Outer soft shadow */
    -1px -1px 2px 0px #FFFFFFE5,
    /* Outer highlight */
    1px -1px 2px 0px #B2B2B233,
    /* Outer subtle top-right shadow */
    -1px 1px 2px 0px #B2B2B233,
    /* Outer subtle bottom-left shadow */
    -1px -1px 2px 0px #B2B2B280 inset,
    /* Inner top-left shadow */
    1px 1px 2px 0px #FFFFFF4D inset;
  /* Inner bottom-right shadow */
}

.wicket-overball {
  min-width: 30px;
  font-weight: 500;
  min-height: 30px;
  padding: 0px 2px;
  background: #D90000;
  border-radius: 4px;
  box-shadow:
    1px 1px 3px 0px #B2B2B2E5,
    /* Outer soft shadow */
    -1px -1px 2px 0px #FFFFFFE5,
    /* Outer highlight */
    1px -1px 2px 0px #B2B2B233,
    /* Outer subtle top-right shadow */
    -1px 1px 2px 0px #B2B2B233,
    /* Outer subtle bottom-left shadow */
    -1px -1px 2px 0px #B2B2B280 inset,
    /* Inner top-left shadow */
    1px 1px 2px 0px #FFFFFF4D inset;
  /* Inner bottom-right shadow */
}

.extra-overball {
  min-width: 30px;
  min-height: 30px;
  padding: 0px 2px;
  font-weight: 500;
  background: #F4D900;
  border-radius: 4px;
  box-shadow:
    1px 1px 3px 0px #B2B2B2E5,
    /* Outer soft shadow */
    -1px -1px 2px 0px #FFFFFFE5,
    /* Outer highlight */
    1px -1px 2px 0px #B2B2B233,
    /* Outer subtle top-right shadow */
    -1px 1px 2px 0px #B2B2B233,
    /* Outer subtle bottom-left shadow */
    -1px -1px 2px 0px #B2B2B280 inset,
    /* Inner top-left shadow */
    1px 1px 2px 0px #FFFFFF4D inset;
  /* Inner bottom-right shadow */
}

.boundary-overball {
  min-width: 30px;
  min-height: 30px;
  font-weight: 500;
  background: #00DB00;
  border-radius: 4px;
  box-shadow:
    1px 1px 3px 0px #B2B2B2E5,
    -1px -1px 2px 0px #FFFFFFE5,
    1px -1px 2px 0px #B2B2B233,
    -1px 1px 2px 0px #B2B2B233,
    -1px -1px 2px 0px #B2B2B280 inset,
    1px 1px 2px 0px #FFFFFF4D inset;
}

.tab-button {
  background-color: none !important;

  &.active {
    display: flex;
    justify-content: center;
    border-radius: 4px;
    color: white !important;
    background: linear-gradient(180deg, #3E119E -60.91%, #35127D 221.1%);
    box-shadow:
      0px 1px 5px 0px #180C40,
      0px 5.72px 5.72px 0px #574CD2 inset,
      0px -5.72px 5.72px 0px #281694 inset;
  }
}

.wicket-modal-player-row wicket-modal-header-row {
  color: $light-font-color
}

.score-control-confirm-ball-btns {
  width: 100%;
  background-color: #00B400 !important;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F5F5F5;
  border: none;
  font-weight: bold;
  font-size: 18px;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow:
    1px 1px 3px 0px #B2B2B2E5,
    -1px -1px 2px 0px #FFFFFFE5,
    1px -1px 2px 0px #B2B2B233,
    -1px 1px 2px 0px #B2B2B233,
    -1px -1px 2px 0px #B2B2B280 inset,
    1px 1px 2px 0px #FFFFFF4D inset;
}

.score-control-conformation-close-btn {
  width: 100%;
  color: #1A1D23 !important;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5F5F5;
  border: none;
  font-weight: bold;
  font-size: 18px;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow:
    1px 1px 3px 0px #B2B2B2E5,
    -1px -1px 2px 0px #FFFFFFE5,
    1px -1px 2px 0px #B2B2B233,
    -1px 1px 2px 0px #B2B2B233,
    -1px -1px 2px 0px #B2B2B280 inset,
    1px 1px 2px 0px #FFFFFF4D inset;
}


.select2-selection__control,
.css-13cymwt-control {
  border: 0.5px solid #999999 !important;
  background-color: #F5F5F5 !important;
  color: #999999 !important;
  width: 100% !important;
  border-radius: 200px !important;
}
.form-control {
  border: 0.5px solid #999999 !important;
  background-color: #F5F5F5 !important;
  color: #999999 !important;
  width: 100% !important;
  border-radius: 200px !important;
  padding: 12px !important;
}

.select2-selection__indicator,
.select2-selection__dropdown-indicator,
.css-1xc3v61-indicatorContainer {
  box-shadow:
    1px 1px 3px 0px #B2B2B2E5,
    -1px -1px 2px 0px #FFFFFFE5,
    1px -1px 2px 0px #B2B2B233,
    -1px 1px 2px 0px #B2B2B233,
    -1px -1px 2px 0px #B2B2B280 inset,
    1px 1px 2px 0px #FFFFFF4D inset;
  margin: 4px;
  border-radius: 100px;
  background: #E6E6E6;
  color: #262A32;
  opacity: 1;
}

.select2-selection__input-container, .css-19bb58m{
  color: black;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}




body[data-theme="dark"] {
  .score-header-event-name {
    color: #fff;
  }

  .score-header-exit-btn {
    box-shadow:
      3px 3px 8px 0px #0C0E10E5,
      -3px -3px 6px 0px #282C36E5,
      3px -3px 6px 0px #0C0E1033,
      -3px 3px 6px 0px #0C0E1033,
      -1px -1px 2px 0px #0C0E1080 inset,
      1px 1px 2px 0px #282C364D inset;
  }

  .score-header-date-btn {
    background: #191C22 !important;
    border: 0.5px solid #3D3D3D;
  }

  .score-control-ball-btn {
    background-color: #1A1D23;
    color: #fff !important;
    box-shadow:
      3px 3px 8px 0px #0C0E10E5,
      -3px -3px 6px 0px #282C36E5,
      3px -3px 6px 0px #0C0E1033,
      -3px 3px 6px 0px #0C0E1033,
      -1px -1px 2px 0px #0C0E1080 inset,
      1px 1px 2px 0px #282C364D inset;
  }

  .score-header-navigation-btns {
    background-color: #1A1D23;
    box-shadow:
      3px 3px 8px 0px #0C0E10E5,
      -3px -3px 6px 0px #282C36E5,
      3px -3px 6px 0px #0C0E1033,
      -3px 3px 6px 0px #0C0E1033,
      -1px -1px 2px 0px #0C0E1080 inset,
      1px 1px 2px 0px #282C364D inset;
  }

  .score-control-ball-types-btns {
    background-color: #1A1D23;
    box-shadow:
      3px 3px 8px 0px #0C0E10E5,
      -3px -3px 6px 0px #282C36E5,
      3px -3px 6px 0px #0C0E1033,
      -3px 3px 6px 0px #0C0E1033,
      -1px -1px 2px 0px #0C0E1080 inset,
      1px 1px 2px 0px #282C364D inset;
      &:hover,
    &:active,
    &.active {
    background-color: #FFCD4C;
    color: #1A1D23 !important;
    box-shadow: 0px 3.57px 3.57px 0px #0000001F inset, 
            0px 3.57px 3.57px 0px #00000040 inset;
  }
  }

  .score-control-action-ball-btns {
    background-color: #1A1D23;
    box-shadow:
      3px 3px 8px 0px #0C0E10E5,
      -3px -3px 6px 0px #282C36E5,
      3px -3px 6px 0px #0C0E1033,
      -3px 3px 6px 0px #0C0E1033,
      -1px -1px 2px 0px #0C0E1080 inset,
      1px 1px 2px 0px #282C364D inset;

  }

  .score-control-wicket-ball-btns {
    background-color: #1A1D23;
    box-shadow:
      3px 3px 8px 0px #0C0E10E5,
      -3px -3px 6px 0px #282C36E5,
      3px -3px 6px 0px #0C0E1033,
      -3px 3px 6px 0px #0C0E1033,
      -1px -1px 2px 0px #0C0E1080 inset,
      1px 1px 2px 0px #282C364D inset;
    color: white;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover,
    &:active,
    &.active {
      background-color: #FF4C4C;
      color: black !important;
      box-shadow:
        0.89px 3.57px 3.57px 0px #0000001F inset,
        0px 3.57px 3.57px 0px #00000040 inset;
    }
  }

  .score-control-action-btns {
    background-color: #1A1D23;
    box-shadow:
      3px 3px 8px 0px #0C0E10E5,
      -3px -3px 6px 0px #282C36E5,
      3px -3px 6px 0px #0C0E1033,
      -3px 3px 6px 0px #0C0E1033,
      -1px -1px 2px 0px #0C0E1080 inset,
      1px 1px 2px 0px #282C364D inset;

  }

  .score-control-close-btn {
    background-color: #1A1D23;
    color: #fff !important;
    box-shadow:
      3px 3px 8px 0px #0C0E10E5,
      -3px -3px 6px 0px #282C36E5,
      3px -3px 6px 0px #0C0E1033,
      -3px 3px 6px 0px #0C0E1033,
      -1px -1px 2px 0px #0C0E1080 inset,
      1px 1px 2px 0px #282C364D inset;

  }

  .vertical-line {
    border: 0.5px solid #0C0E10E5;
    box-shadow:
      3px 3px 8px 0px #0C0E10E5,
      -3px -3px 6px 0px #282C36E5,
      3px -3px 6px 0px #0C0E1033,
      -3px 3px 6px 0px #0C0E1033,
      -1px -1px 2px 0px #0C0E1080 inset,
      1px 1px 2px 0px #282C364D inset;
  }

  .tab-button {
    background-color: none !important;

    &.active {
      display: flex;
      justify-content: center;
      border-radius: 4px;
      color: white !important;
      background: linear-gradient(180deg, #3E119E -60.91%, #35127D 221.1%);
      box-shadow:
        0px 1px 5px 0px #180C40,
        0px 5.72px 5.72px 0px #574CD2 inset,
        0px -5.72px 5.72px 0px #281694 inset;
    }
  }

  .regular-overball {
    color: #fff;
    background: linear-gradient(180deg, #1C1C1C -60.91%, #1E1E1E 221.1%);
    box-shadow:
      0px 1px 5px 0px #171717,
      0px 5.72px 5.72px 0px #303030 inset,
      0px -5.72px 5.72px 0px #000000 inset;
  }

  .wicket-overball {
    color: #fff;
    background: #D90000;
    box-shadow:
      0px 1px 5px 0px #171717,
      0px 5.72px 5.72px 0px #FF9999 inset,
      0px -5.72px 5.72px 0px #4D0000 inset;
  }

  .extra-overball {
    color: #fff;
    background: #F4D900;
    box-shadow:
      0px 1px 5px 0px #171717,
      0px 5.72px 5.72px 0px #FFF399 inset,
      0px -5.72px 5.72px 0px #4D4400 inset;
  }

  .boundary-overball {
    color: #fff;
    background: #00DB00;
    box-shadow:
      0px 1px 5px 0px #171717,
      0px 5.72px 5.72px 0px #88FF88 inset,
      0px -5.72px 5.72px 0px #004700 inset;
  }

  .score-control-confirm-ball-btns {
    box-shadow:
      2.68px 2.68px 7.15px 0px #0C0E10E5,
      -2.68px -2.68px 5.36px 0px #282C36E5,
      2.68px -2.68px 5.36px 0px #0C0E1033,
      -2.68px 2.68px 5.36px 0px #0C0E1033,
      -0.89px -0.89px 1.79px 0px #0C0E1080 inset,
      0.89px 0.89px 1.79px 0px #282C364D inset;
  }

  .score-control-conformation-close-btn {
    background-color: #1A1D23 !important;
    color: #fff !important;
    box-shadow:
      2.68px 2.68px 7.15px 0px #0C0E10E5,
      -2.68px -2.68px 5.36px 0px #282C36E5,
      2.68px -2.68px 5.36px 0px #0C0E1033,
      -2.68px 2.68px 5.36px 0px #0C0E1033,
      -0.89px -0.89px 1.79px 0px #0C0E1080 inset,
      0.89px 0.89px 1.79px 0px #282C364D inset;

  }

  .select2-selection__control,
  .css-13cymwt-control {
    box-shadow:
      -0.89px -0.89px 1.79px 0px #0C0E1080 inset,
      0.89px 0.89px 1.79px 0px #282C364D inset;
    background-color: #1A1D23 !important;
    color: #999999 !important;
  }
  .form-control {
    box-shadow:
      -0.89px -0.89px 1.79px 0px #0C0E1080 inset,
      0.89px 0.89px 1.79px 0px #282C364D inset;
    background-color: #1A1D23 !important;
    color: #999999 !important;
  }

  .select2-selection__indicator,
  .select2-selection__dropdown-indicator,
  .css-1xc3v61-indicatorContainer {
    box-shadow:
      2.68px 2.68px 7.15px 0px #0C0E10E5,
      -2.68px -2.68px 5.36px 0px #282C36E5,
      2.68px -2.68px 5.36px 0px #0C0E1033,
      -2.68px 2.68px 5.36px 0px #0C0E1033,
      -0.89px -0.89px 1.79px 0px #0C0E1080 inset,
      0.89px 0.89px 1.79px 0px #282C364D inset;
    background: #1A1D23;
    color: #FFFFFF;
  }
  .select2-selection__input-container, .css-19bb58m{
    color: #FFFFFF;
  }
  .select2-selection__menu, .css1nmdiq5-menu{
    background-color: #1A1D23;
  }
  .player-names {
    background-color: #1A1D23;
    color: #FFFFFF !important;
    box-shadow:
      3px 3px 8px 0px #0C0E10E5,
      -3px -3px 6px 0px #282C36E5,
      3px -3px 6px 0px #0C0E1033,
      -3px 3px 6px 0px #0C0E1033,
      -1px -1px 2px 0px #0C0E1080 inset,
      1px 1px 2px 0px #282C364D inset;

  }
}