.hover:hover{
    background-color: gray;
    color:white;
    /* cursor: pointer; */
}
.hover1:hover{
    color: black;
    /* cursor: pointer; */
}

.table-responsive2 {
    max-height: 550px; /* Set your desired max-height */
    overflow-y: auto;
  }
  
  .sticky-header th {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #ffffff; /* Adjust background color as needed */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1); /* Add a subtle shadow if desired */
  }
  